# Исследование надежности заемщиков

Во второй части проекта вы выполните шаги 3 и 4. Их вручную проверит ревьюер.
Чтобы вам не пришлось писать код заново для шагов 1 и 2, мы добавили авторские решения в ячейки с кодом.

## Откройте таблицу и изучите общую информацию о данных

**Задание 1. Импортируйте библиотеку pandas. Считайте данные из csv-файла в датафрейм и сохраните в переменную `data`. Путь к файлу:**

`/datasets/data.csv`

In [1]:
import pandas as pd

try:
    data = pd.read_csv('/datasets/data.csv')
except:
    data = pd.read_csv('https://code.s3.yandex.net/datasets/data.csv')

**Задание 2. Выведите первые 20 строчек датафрейма `data` на экран.**

In [2]:
data.head(20)

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
0,1,-8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875.639453,покупка жилья
1,1,-4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080.014102,приобретение автомобиля
2,0,-5623.422610,33,Среднее,1,женат / замужем,0,M,сотрудник,0,145885.952297,покупка жилья
3,3,-4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628.550329,дополнительное образование
4,0,340266.072047,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616.077870,сыграть свадьбу
5,0,-926.185831,27,высшее,0,гражданский брак,1,M,компаньон,0,255763.565419,покупка жилья
6,0,-2879.202052,43,высшее,0,женат / замужем,0,F,компаньон,0,240525.971920,операции с жильем
7,0,-152.779569,50,СРЕДНЕЕ,1,женат / замужем,0,M,сотрудник,0,135823.934197,образование
8,2,-6929.865299,35,ВЫСШЕЕ,0,гражданский брак,1,F,сотрудник,0,95856.832424,на проведение свадьбы
9,0,-2188.756445,41,среднее,1,женат / замужем,0,M,сотрудник,0,144425.938277,покупка жилья для семьи
10,2,-4171.483647,36,высшее,0,женат / замужем,0,M,компаньон,0,113943.491460,покупка недвижимости
11,0,-792.701887,40,среднее,1,женат / замужем,0,F,сотрудник,0,77069.234271,покупка коммерческой недвижимости
12,0,NaN,65,среднее,1,гражданский брак,1,M,пенсионер,0,NaN,сыграть свадьбу
13,0,-1846.641941,54,неоконченное высшее,2,женат / замужем,0,F,сотрудник,0,130458.228857,приобретение автомобиля
14,0,-1844.956182,56,высшее,0,гражданский брак,1,F,компаньон,1,165127.911772,покупка жилой недвижимости
15,1,-972.364419,26,среднее,1,женат / замужем,0,F,сотрудник,0,116820.904450,строительство собственной недвижимости
16,0,-1719.934226,35,среднее,1,женат / замужем,0,F,сотрудник,0,289202.704229,недвижимость
17,0,-2369.999720,33,высшее,0,гражданский брак,1,M,сотрудник,0,90410.586745,строительство недвижимости
18,0,400281.136913,53,среднее,1,вдовец / вдова,2,F,пенсионер,0,56823.777243,на покупку подержанного автомобиля
19,0,-10038.818549,48,СРЕДНЕЕ,1,в разводе,3,F,сотрудник,0,242831.107982,на покупку своего автомобиля

**Задание 3. Выведите основную информацию о датафрейме с помощью метода `info()`.**

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   children          21525 non-null  int64
 1   days_employed     19351 non-null  float64
 2   dob_years         21525 non-null  int64
 3   education         21525 non-null  object
 4   education_id      21525 non-null  int64
 5   family_status     21525 non-null  object
 6   family_status_id  21525 non-null  int64
 7   gender            21525 non-null  object
 8   income_type       21525 non-null  object
 9   debt              21525 non-null  int64
 10  total_income      19351 non-null  float64
 11  purpose           21525 non-null  object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.0+ MB

## Предобработка данных

### Удаление пропусков

**Задание 4. Выведите количество пропущенных значений для каждого столбца. Используйте комбинацию двух методов.**

In [4]:
data.isna().sum()

children               0
days_employed       2174
dob_years              0
education              0
education_id           0
family_status          0
family_status_id       0
gender                 0
income_type            0
debt                   0
total_income        2174
purpose                0
dtype: int64

**Задание 5. В двух столбцах есть пропущенные значения. Один из них — `days_employed`. Пропуски в этом столбце вы обработаете на следующем этапе. Другой столбец с пропущенными значениями — `total_income` — хранит данные о доходах. На сумму дохода сильнее всего влияет тип занятости, поэтому заполнить пропуски в этом столбце нужно медианным значением по каждому типу из столбца `income_type`. Например, у человека с типом занятости `сотрудник` пропуск в столбце `total_income` должен быть заполнен медианным доходом среди всех записей с тем же типом.**

In [5]:
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['total_income'].isna()), 'total_income'] = \
    data.loc[(data['income_type'] == t), 'total_income'].median()

### Обработка аномальных значений

**Задание 6. В данных могут встречаться артефакты (аномалии) — значения, которые не отражают действительность и появились по какой-то ошибке. таким артефактом будет отрицательное количество дней трудового стажа в столбце `days_employed`. Для реальных данных это нормально. Обработайте значения в этом столбце: замените все отрицательные значения положительными с помощью метода `abs()`.**

In [6]:
data['days_employed'] = data['days_employed'].abs()

**Задание 7. Для каждого типа занятости выведите медианное значение трудового стажа `days_employed` в днях.**

In [7]:
data.groupby('income_type')['days_employed'].agg('median')

income_type
безработный        366413.652744
в декрете            3296.759962
госслужащий          2689.368353
компаньон            1547.382223
пенсионер          365213.306266
предприниматель       520.848083
сотрудник            1574.202821
студент               578.751554
Name: days_employed, dtype: float64

У двух типов (безработные и пенсионеры) получатся аномально большие значения. Исправить такие значения сложно, поэтому оставьте их как есть. Тем более этот столбец не понадобится вам для исследования.

**Задание 8. Выведите перечень уникальных значений столбца `children`.**

In [8]:
data['children'].unique()

array([ 1,  0,  3,  2, -1,  4, 20,  5])

**Задание 9. В столбце `children` есть два аномальных значения. Удалите строки, в которых встречаются такие аномальные значения из датафрейма `data`.**

In [9]:
data = data[(data['children'] != -1) & (data['children'] != 20)]

**Задание 10. Ещё раз выведите перечень уникальных значений столбца `children`, чтобы убедиться, что артефакты удалены.**

In [10]:
data['children'].unique()

array([1, 0, 3, 2, 4, 5])

### Удаление пропусков (продолжение)

**Задание 11. Заполните пропуски в столбце `days_employed` медианными значениями по каждого типа занятости `income_type`.**

In [11]:
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['days_employed'].isna()), 'days_employed'] = \
    data.loc[(data['income_type'] == t), 'days_employed'].median()

**Задание 12. Убедитесь, что все пропуски заполнены. Проверьте себя и ещё раз выведите количество пропущенных значений для каждого столбца с помощью двух методов.**

In [12]:
data.isna().sum()

children            0
days_employed       0
dob_years           0
education           0
education_id        0
family_status       0
family_status_id    0
gender              0
income_type         0
debt                0
total_income        0
purpose             0
dtype: int64

### Изменение типов данных

**Задание 13. Замените вещественный тип данных в столбце `total_income` на целочисленный с помощью метода `astype()`.**

In [13]:
data['total_income'] = data['total_income'].astype(int)

### Обработка дубликатов

**Задание 14. Обработайте неявные дубликаты в столбце `education`. В этом столбце есть одни и те же значения, но записанные по-разному: с использованием заглавных и строчных букв. Приведите их к нижнему регистру. Проверьте остальные столбцы.**

In [14]:
data['education'] = data['education'].str.lower()

**Задание 15. Выведите на экран количество строк-дубликатов в данных. Если такие строки присутствуют, удалите их.**

In [15]:
data.duplicated().sum()

71

In [16]:
data = data.drop_duplicates()

### Категоризация данных

**Задание 16. На основании диапазонов, указанных ниже, создайте в датафрейме `data` столбец `total_income_category` с категориями:**

- 0–30000 — `'E'`;
- 30001–50000 — `'D'`;
- 50001–200000 — `'C'`;
- 200001–1000000 — `'B'`;
- 1000001 и выше — `'A'`.


**Например, кредитополучателю с доходом 25000 нужно назначить категорию `'E'`, а клиенту, получающему 235000, — `'B'`. Используйте собственную функцию с именем `categorize_income()` и метод `apply()`.**

In [17]:
def categorize_income(income):
    try:
        if 0 <= income <= 30000:
            return 'E'
        elif 30001 <= income <= 50000:
            return 'D'
        elif 50001 <= income <= 200000:
            return 'C'
        elif 200001 <= income <= 1000000:
            return 'B'
        elif income >= 1000001:
            return 'A'
    except:
        pass

In [18]:
data['total_income_category'] = data['total_income'].apply(categorize_income)

**Задание 17. Выведите на экран перечень уникальных целей взятия кредита из столбца `purpose`.**

In [19]:
data['purpose'].unique()

array(['покупка жилья', 'приобретение автомобиля',
       'дополнительное образование', 'сыграть свадьбу',
       'операции с жильем', 'образование', 'на проведение свадьбы',
       'покупка жилья для семьи', 'покупка недвижимости',
       'покупка коммерческой недвижимости', 'покупка жилой недвижимости',
       'строительство собственной недвижимости', 'недвижимость',
       'строительство недвижимости', 'на покупку подержанного автомобиля',
       'на покупку своего автомобиля',
       'операции с коммерческой недвижимостью',
       'строительство жилой недвижимости', 'жилье',
       'операции со своей недвижимостью', 'автомобили',
       'заняться образованием', 'сделка с подержанным автомобилем',
       'получение образования', 'автомобиль', 'свадьба',
       'получение дополнительного образования', 'покупка своего жилья',
       'операции с недвижимостью', 'получение высшего образования',
       'свой автомобиль', 'сделка с автомобилем',
       'профильное образование', 'высшее образование',
       'покупка жилья для сдачи', 'на покупку автомобиля', 'ремонт жилью',
       'заняться высшим образованием'], dtype=object)

**Задание 18. Создайте функцию, которая на основании данных из столбца `purpose` сформирует новый столбец `purpose_category`, в который войдут следующие категории:**

- `'операции с автомобилем'`,
- `'операции с недвижимостью'`,
- `'проведение свадьбы'`,
- `'получение образования'`.

**Например, если в столбце `purpose` находится подстрока `'на покупку автомобиля'`, то в столбце `purpose_category` должна появиться строка `'операции с автомобилем'`.**

**Используйте собственную функцию с именем `categorize_purpose()` и метод `apply()`. Изучите данные в столбце `purpose` и определите, какие подстроки помогут вам правильно определить категорию.**

In [20]:
def categorize_purpose(row):
    try:
        if 'автом' in row:
            return 'операции с автомобилем'
        elif 'жил' in row or 'недвиж' in row:
            return 'операции с недвижимостью'
        elif 'свад' in row:
            return 'проведение свадьбы'
        elif 'образов' in row:
            return 'получение образования'
    except:
        return 'нет категории'

In [21]:
data['purpose_category'] = data['purpose'].apply(categorize_purpose)

## Шаг 3. Исследуйте данные и ответьте на вопросы

### Шаг 3. Исследуйте данные и ответьте на вопросы

#### 3.1 Есть ли зависимость между количеством детей и возвратом кредита в срок?

In [22]:
# Создаем таблицу
debt_from_children = pd.DataFrame()
# Создаем столбцы
debt_from_children['count_children'] = data.groupby('children')['debt'].count()
debt_from_children['sum_children'] = data.groupby('children')['debt'].sum()
# Считаем долю
debt_from_children['result_children'] = round(debt_from_children['sum_children'] / 
                                              debt_from_children['count_children'], 3) 
# Сортируем по столбцу доля лолжников по возрастанию
debt_from_children.sort_values('result_children', ascending = True)
# Ваш код будет здесь. Вы можете создавать новые ячейки.

          count_children  sum_children  result_children
children
5                      9             0            0.000
0                  14091          1063            0.075
3                    330            27            0.082
1                   4808           444            0.092
2                   2052           194            0.095
4                     41             4            0.098

**Вывод:** 
     Зависимость между количествов кредитов и возвратом в срок кредита имеется, но не сильная. 
     У людей без детей меньше просрочек по кредиту, что говорит о том что они более платежеспособны.
     Люди, у которых 1-2 ребенка, допускают практически одинаковую просрочку по кредитам.
     Клиенты у которых 3-ое детей меньше допускают чем остальные, возможно связано это с более ответственным подходом к оформлению кредита. 
     Семьи с 4 детьми допускают наибольший процент невозвратности кредитов, возможно, ввиду серьезной финансовой нагрузки.
     У людей имеющих 5 детей не имеется просрочки в данной выборке, возможно из за малого количества таких семей, так как финансовая нагрузка должна быть в сравнении с семьями с 3 или 4 детьми.

#### 3.2 Есть ли зависимость между семейным положением и возвратом кредита в срок?

In [23]:
# Создаем таблицу
debt_from_family_status = pd.DataFrame()
# Создаем столбцы
debt_from_family_status['sum_family_status'] = data.groupby('family_status')['debt'].sum()
debt_from_family_status['count_family_status'] = data.groupby('family_status')['debt'].count()
# Считаем долю
debt_from_family_status['result_family_status'] = round(debt_from_family_status['sum_family_status'] / 
                                                        debt_from_family_status['count_family_status'], 3) 
# Сортируем по столбцу доля лолжников по возрастанию
debt_from_family_status.sort_values('result_family_status', ascending = True)
# Ваш код будет здесь. Вы можете создавать новые ячейки.

,sum_family_status,count_family_status,result_family_status
family_status,,,
вдовец / вдова,63,951,0.066
в разводе,84,1189,0.071
женат / замужем,927,12261,0.076
гражданский брак,385,4134,0.093
Не женат / не замужем,273,2796,0.098

**Вывод:** 
     Люди, относящиеся к категории вдовцы и в разводе, имеют меньше просрочек по кредиту, можно выделить ряд причин: финансовая самоятоятельность, возраст, ответсвенность.
     Люди, которые находятся в браке, имеют чуть большую долю невозвратных кредитов. Здесь возможны такие факторы, как наличие детей и финансовые трудности.
     Люди в гражданском браке и люди, не состоящие в браке, имеют самую низкую долю возвратности кредитов. Причины этому могут быть разные: наличие детей, молодой возраст, недостаточный доход, слабая ответственность и прочее.

#### 3.3 Есть ли зависимость между уровнем дохода и возвратом кредита в срок?

In [24]:
# Создаем таблицу
debt_from_total_income = pd.DataFrame()
data['total_income_id'] = data['total_income_category']
# Создаем столбцы
debt_from_total_income['sum'] = data.groupby('total_income_id')['debt'].sum()
debt_from_total_income['count'] = data.groupby('total_income_id')['debt'].count()
# Считаем долю
debt_from_total_income['conversion'] = round(debt_from_total_income['sum'] / 
                                             debt_from_total_income['count'],3)
# Сортируем по столбцу доля лолжников по возрастанию
debt_from_total_income.sort_values('conversion', ascending = True)
# Ваш код будет здесь. Вы можете создавать новые ячейки.

                  sum  count  conversion
total_income_id
D                  21    349       0.060
B                 354   5014       0.071
A                   2     25       0.080
C                1353  15921       0.085
E                   2     22       0.091

**Вывод:** 
Самая высокая вероятность не вернуть кредит у людей с доходом до 30 тысяч, связано с низкой платежеспособностью и другими обременениями.  
Самая низкая вероятность не вернуть кредит у людей с доходностью от 30 до 50 тысяч, скромные доходы не позволяют клиентам переплачивать за кредит и платить не устойки, поэтому клиенты более дисциплинированные и ответственные.
Но, если убрать из выборки клиентов категории А и Е, всвязи с тем что количество таких клиентов гораздо меньше чем остальных категориях, и результат может поменяться очень сильно даже из за одного клиента, то клиенты категории С доход которых  от 50 до 200 имеют высокую вероятность, относительно остальных, не вернуть кредит. Возможно, это объясняется тем, что это основная масса людей, которые имеют семью, детей, дополнительные обязательства, в случаи недобровольной потери работы невсегда можно быстро найти новую работу с таким же доходом.

#### 3.4 Как разные цели кредита влияют на его возврат в срок?

In [25]:
# Создаем таблицу
debt_from_purpose_category = pd.DataFrame()
# Создаем столбцы
debt_from_purpose_category['sum_purpose_category'] = data.groupby('purpose_category')['debt'].sum()
debt_from_purpose_category['count_purpose_category'] = data.groupby('purpose_category')['debt'].count()
# Считаем долю
debt_from_purpose_category['result_purpose_category'] = round(debt_from_purpose_category['sum_purpose_category'] / 
                                                              debt_from_purpose_category['count_purpose_category'],3) 
debt_from_purpose_category.sort_values('result_purpose_category', ascending = True)
# Ваш код будет здесь. Вы можете создавать новые ячейки.

,sum_purpose_category,count_purpose_category,result_purpose_category
purpose_category,,,
операции с недвижимостью,780,10751,0.073
проведение свадьбы,183,2313,0.079
операции с автомобилем,400,4279,0.093
получение образования,369,3988,0.093

**Вывод:** 
 Возврат кредита выше при покупки квартиры и проведения свадьбы, данные покупки не являются спонтаными и требуют серьезного подхода, как следствие клиенты более ответственно и дисцплинировано подходят к кредиту, так же в вопросе свадьбой решают два человека в семье, и в большинстве случаев с квартирой решают вопрос с семьей. Покупка автомобиля и получения образования существенно ниже стоимости квартиры, поэтому здесь могут подойти к оформлению кредита менее ответственно.

#### 3.5 Приведите возможные причины появления пропусков в исходных данных.

*Ответ:* пропуски здесь были в столбцах days_employed - общий трудовой стаж в днях  и total_income - ежемесячный доход. В первую очередь, человеческий фактор, кто-то, возможно, не захотел отвечать. Такж стоит отметить, что количество пропусков в столбцах одинаковы, можно сделать вывод, что заполнение одного из столбцов влияет на заполненность другого столбца, или техническая ошибка произошла.

#### 3.6 Объясните, почему заполнить пропуски медианным значением — лучшее решение для количественных переменных.

*Ответ:* медианное значение лучше всего отражает выборку в целом, в случае, если есть незаполненные данные. Среднее арифметическое отражает ситуацию некорректно, так как не учитывает разброс данных.

### Шаг 4: общий вывод.


При иследовании надежности заемщиков были предобработаны данные. В таблице были обнаружены пропуски в разделах о доходах и трудовом стаже, причинами появления которых могут быть: неверный ввод данных, сокрытие информации, повреждение файла данных при сохранении, технические проблемы. Заполнение пропусков для количественных переменных медианой является лучшим решением из-за устойчивости медианы к выбросам и аномальным значениям. Так же в таблице были исправлены или убраны аномальные значения, проведена категоризация данных по доходам и целям кредитования.

В целом можно сделать вывод:

    - 1) Клиенты без детей имеют меньшую  вероятность задолжености 7,5% в сравнению с семьями детьми 9,2% - 9,5%
    - 2) Холостые и живущие в гражданском браке пары больше подвержены риску стать должниками 9,8% - 9,3%, чем люди, относящиеся к категории вдовцы и в разводе 6,6% - 7,1%.
    - 3) Категория людей со средним доходом (30–50 тыс. руб.) меньше подвержены риску стать должниками 6%, чем клиенты с доходностью от 50 до 200 тысяч 8,5%
    - 4) Клиенты, берущие кредиты на свадьбу или квартиру меньше подвержены риску стать должниками 7,3%-7,9%, нежели клиенты берущие кредит на образование или на автомобиль 9,3%. 
    
Люди, которые с наибольшей вероятностью допустят просрочку по кредиту, вероятно, будут иметь детей, возможно будут состоять в гражданском браке, а более вероятно, что не будут состоять в браке вовсе, и их доход будет существенно низок. Также, возможно, что целью кредита будет получение образования или покупка автомобиля, а также прочие относительно невысокие по стоимости товары и услуги. Совпадение нескольких факторов может говорить о том, что в будущем возможны просрочки по кредиту.